{% extends "base.html" %}

{% block title %}Подтвердите регистрацию учетной записи - MMSE{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Здравствуйте, {{ current_user.username }}!</h1>
    <h3>Вы еще не подтвердили регистрацию вашей учетной записи.</h3>
    <p>
      Прежде чем получить доступ к этому сайту вам необходимо подтвердить регистрацию вашей учетной записи.
      Проверьте ваш почтовый ящик (в том числе папку Спам). Вам должно прийти письмо со ссылкой для потверждения регистрации.
    </p>
    <p>
      До сих пор не получили письма? Для отправки повторого письма
      <a href="{{ url_for('auth.resend_confirmation') }}">нажмите здесь</a>.
    </p>
</div>
{% endblock %}
