{% set page = 'uploads' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "ctrl/_macros.html" as macros %}

{% block title %}File Uploads - {{ super() }}{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Upload Image</h1>
</div>

<div>
  {% if current_user.can(Permission.UPLOAD) %}
  <form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="form-group {% if form.image.errors %}has-error{% endif %}">
      {{ form.image.label(class="control-label") }}
      {{ form.image(class="") }}
      {% if form.image.errors %}
      <span class="help-block">
	{% for error in form.image.errors %}
	{{ error }}
	{% endfor %}
      </span>{% endif %}
    </div>

    {{ wtf.form_field(form.title) }}
    
    <div class="form-group">
      {{ wtf.form_field(form.submit) }}
    </div>
  </form>
  {% endif %}
</div>

<h2>List of Uploaded Images</h2>

<div>
  {% include 'ctrl/_uploads.html' %}
</div>

{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.uploads') }}
</div>
{% endif %}

<form method="post" id="removal">
    {{ csrf_form.csrf_token(id="csrf-removal") }}
    {{ csrf_form.id }}
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script>
  $('.copy-path').focus( function() {
    var area = $( this );
    area.select();

    // workaround for Chrome
    area.mouseup(function() {
        // prevent further mouseup intervention
        area.unbind("mouseup");
        return false;
    });
    var copy = document.execCommand('copy');
  })
</script>

<script>
  $('.remove').click( function() {
      var data = {
	 csrf: $('#csrf-removal').val(),
	 filename: $(this).data('filename-removal')
      };

     $.ajaxSetup({
	 beforeSend: function(xhr, settings) {
             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
		 xhr.setRequestHeader("X-CSRFToken", data['csrf'])
             }
	 }
     });

     var remove = confirm('Are you sure?');
     if (remove == true) {
	 $.when( $.ajax({
             url: "{{ url_for('ctrl.remove_upload', _external=True) }}",
             type: 'post',
             dataType: 'json',
	     contentType: 'application/json;charset=UTF-8',
	     accepts: {
		 json: 'application/json',
             },
	     data: JSON.stringify(data),
	     success: function(response) {
		 var flash = "<div class='alert alert-" + response['status'] + "'>" +
	     		     "<button type='button' class='close' data-dismiss='alert'>&times;</button>" +
	     		     response['message'] + "</div>";
		 // save message to localStorage
		 window.onbeforeunload = function() {
		     localStorage.setItem('message', flash);
		 }
             },
             error: function(jqXHR, textStatus, errorThrown) {
		 console.log('Error code: ' + jqXHR.status);
		 console.log('Error status: ' + textStatus);
		 console.log('Error thrown: ' + errorThrown);
             }
	 }).done(function(){
	     location.reload();           // reload the page
	     $('html,body').scrollTop(0); // jump on top
	 }));
     }
 });
</script>

<script>
 $( document ).ready(function() {
     var message = localStorage.getItem('message');
     if (message !== null) {
	 $('.page-header').before(message);
     }
     localStorage.removeItem('message');
 });
</script>

{% endblock %}
