<p>Dear {{ recipient.username }},</p>
<p>User {{ message.author.username }} has left you a message: </p>
{% if message.body_html %}
   {{ message.body_html | safe }}
{% else %}
   {{ message.body }}
{% endif %}

<p>To see this message on the website <a href="{{ url_for('main.message', username=recipient.username, id=message.id, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('main.message', username=recipient.username, id=message.id, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Pili Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
