<div class="table-responsive">
  <table class="table img-list table-condensed">
    <thead>
      <tr>
	<th>Image</th>	
	<th>Title</th>
	<th>Alias</th>	
	<th>Description</th>
	<th>Author</th>
	<th>Created</th>
	<th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
	<td width="150px">
	  <a href="{{ url_for('.uploaded_file', filename=category.image.filename, action='view' ) }}" target="_blank">
	    <img src="{{ category.image.filename | thumbnail('100x100', crop='fit', quality=75) }}"
		 class="img-responsive img-thumbnail"
		 title="{{ category.image.filename }}" alt="{{ category.image.filename }}">
	  </a>
	</td>
	
	<td>
	  {{ category.title }}
	</td>

	<td>
	  {{ category.alias }}
	</td>

	<td>
          {% if category.body_html %}
            {{ category.body_html | safe }}
          {% else %}
            {{ category.body }}
          {% endif %}
	</td>

	<td>
	  <a href="{{ url_for('.user', username=category.author.username) }}">
	    {{ category.author.username }}
	  </a>
	</td>
	
	<td>
	  {{ moment(category.timestamp).fromNow() }}
	</td>
	
	<td>
	  ...
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{#

<ul class="categories">
  {% for category in categories %}
  <li class="category">
    <div class="category-thumbnail">
      <a href="{{ url_for('.user', username=category.author.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ category.author.gravatar(size=40) }}">
      </a>
    </div>
    <div class="category-content">
      <div class="category-data">
	by
	<span class="glyphicon glyphicon-user"></span>
	<a href="{{ url_for('.user', username=category.author.username) }}">
	  {{ category.author.username }}
	</a>
	{{ moment(category.timestamp).fromNow() }}
	{% if category.posts %}
	under
	{% for post in category.posts %}
	<a href="{{ url_for('.post', id=post.id, alias=post.alias) }}">
	  <span class="label label-info">{{ post.title }}</span>
	</a>
	{% endfor %}
      {% endif %}
      </div>
      <div class="category-title">
	<a href="{{ url_for('.category', id=category.id, alias=category.alias) }}">
	  <h4>{{ category.title }}</h4>
	</a>
      </div>
      <div class="category-author">
      </div>
      <div class="category-body">
        {% if category.body_html %}
          {{ category.body_html | safe }}
        {% else %}
          {{ category.body }}
        {% endif %}
      </div>
     
      <div class="category-footer">
        {% if current_user == category.author %}
        <a href="{{ url_for('.edit', id=category.id, alias=category.alias) }}">
          <span class="label label-primary">Edit</span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('.edit', id=category.id, alias=category.alias) }}">
          <span class="label label-danger">Edit [Admin]</span>
        </a>
        {% endif %}

        <a href="{{ url_for('.category', id=category.id, alias=category.alias) }}#posts">
          <span class="label label-primary">{{ category.posts.count() }} Posts</span>
        </a>
	
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

#}
