<ul class="ctrl-list">
  {% for category in categories %}
  <li id="category{{ category.id }}" class="ctrl-item">
    <div class="ctrl-item-thumbnail">
      {% if category.image %}
      <img src="{{ category.image.filename | thumbnail('30x30', crop='fit', quality=75) }}"
	   class="img-responsive img-thumbnail"
	   title="{{ category.image.title | e }}" alt="{{ category.image.title | e }}">
      {% else %}
      <span class="glyphicon glyphicon-minus" aria-label="None" title="No Image"></span>
      {% endif %}
    </div>

    <div class="ctrl-item-content">
      <div class="ctrl-item-date">{{ moment(category.timestamp).fromNow() }}</div>
      <strong><a href="{{ url_for('main.category', alias=category.alias) }}">
	  {{ category.title }}
      </a></strong>
      by
      <span class="glyphicon glyphicon-user"></span>
      <a href="{{ url_for('main.user', username=category.author.username) }}">
	{{ category.author.username }}
      </a>
      <div class="ctrl-item-body">
	<p>
	  <strong>Alias:</strong> {{ category.alias }}<br>
	  {% if category.description %}
	  <strong>Description:</strong> {{ category.description | truncate(**body_truncate) }}<br>
	  {% endif %}	  
	  <strong>Body:</strong>  {{ category.body | truncate(**body_truncate) }}<br>
          <strong>Featured: </strong> {% if category.featured %}[x]
	  {% else %}[ ]{% endif %}<br>
	  <strong>Posts:</strong>  {{ category.posts.count() }}<br>
	</p>

	{% if current_user.can(Permission.STRUCTURE) %}
	<a class="btn btn-xs btn-primary" href="{{ url_for('ctrl.edit_category', id=category.id, alias=category.alias) }}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}
	{% if current_user.has_role('Administrator') %}
	<button class="btn btn-xs btn-danger remove" type="button" title="Remove" data-action="remove" data-id-removal="{{ category.id }}"><span class="glyphicon glyphicon-remove"></span></button>
	{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
