<div class="table-responsive">
  <table class="table img-list table-condensed">
    <thead>
      <tr>
	<th>Image</th>	
	<th>Title</th>
	<th>Alias</th>	
	<th>Description</th>
	<th>Author</th>
	<th>Created</th>
	<th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
	<td width="150px">
	  {% if category.image %}
	    <img src="{{ category.image.filename | thumbnail('100x100', crop='fit', quality=75) }}"
		 class="img-responsive img-thumbnail"
		 title="{{ category.image.filename }}" alt="{{ category.image.filename }}">

	  {% else %}
	  <span class="glyphicon glyphicon-remove" title="No Image"></span>
	  {% endif %}
	  
	</td>
	
	<td>
	  {{ category.title }}
	</td>

	<td>
	  {{ category.alias }}
	</td>

	<td>
          {% if category.body_html %}
            {{ category.body_html | safe }}
          {% else %}
            {{ category.body }}
          {% endif %}
	</td>

	<td>
	  <a href="{{ url_for('.user', username=category.author.username) }}">
	    {{ category.author.username }}
	  </a>
	</td>
	
	<td>
	  {{ moment(category.timestamp).fromNow() }}
	</td>
	
	<td>
	  <ul class="list-inline">
	    <li><a class="btn btn-link" href="{{ url_for('main.category', alias=category.alias ) }}" title="View"><span class="glyphicon glyphicon-eye-open"></span></a></li>
	    {% if current_user.can(Permission.STRUCTURE) %}
	    <li><a class="btn btn-link" href="{{ url_for('ctrl.edit_category', alias=category.alias ) }}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></li>
	    <li><button class="btn btn-link remove" type="button" title="Remove" data-id-removal={{ category.id }}><span class="glyphicon glyphicon-remove"></span></button></li>
	    {% endif %}
	  </ul>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
