<div class="ctrl-item-control">
	<input name="checkbox_select_all" id="select_all" type="checkbox" value=""></span>
	<button class="btn btn-default btn-sm on-check" data-action="remove"><span class="glyphicon glyphicon-remove" aria-label="Remove" title="Remove selected posts"></span></button>

</div>

<ul class="ctrl-list">
  {% for post in posts %}
  <li id="post{{ post.id }}" class="ctrl-item">
    <div class="ctrl-item-thumbnail">
      {% if post.image %}
      <img src="{{ post.image.filename | thumbnail('30x30', crop='fit', quality=75) }}"
	   class="img-responsive img-thumbnail"
	   title="{{ post.image.title | e }}" alt="{{ post.image.title | e }}">
      {% else %}
      <span class="glyphicon glyphicon-minus" aria-label="None" title="No Image"></span>
      {% endif %}
    </div>

    <div class="ctrl-item-checkbox">
      <input name="checkbox{{ post.id }}" id="checkbox{{ post.id }}" class="ctrl-item-select" type="checkbox" value="{{ post.id }}">
    </div>
    
    <div class="ctrl-item-content">
      <div class="ctrl-item-date">{{ moment(post.timestamp).fromNow() }}</div>
      <strong><a href="{{ url_for('main.post', category=post.category.alias, id=post.id, alias=post.alias) }}">
	  {{ post.title }}
      </a></strong>
      by
      <span class="glyphicon glyphicon-user"></span>
      <a href="{{ url_for('main.user', username=post.author.username) }}">
	{{ post.author.username }}
      </a>
      <div class="ctrl-item-body">
	<p>
	  <strong>Alias:</strong> {{ post.alias }}<br>
	  {% if post.description %}
	  <strong>Description:</strong> {{ post.description | truncate(**body_truncate) }}<br>
	  {% endif %}
	  <strong>Body:</strong>  {{ post.body | truncate(**body_truncate) }}<br>
          <strong>Featured: </strong> {% if post.featured %}[x]
	  {% else %}[ ]{% endif %}<br>
	  <strong>Commenting: </strong> {% if post.commenting %}[x]
	  {% else %}[ ]{% endif %}<br>

	</p>

	{% if current_user == post.author or
	current_user.has_role('Administrator') or 
	current_user.has_role('Editor')  %}
	<a class="btn btn-xs btn-primary" href="{{ url_for('ctrl.edit_post', id=post.id, alias=post.alias) }}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
	<button class="btn btn-xs btn-danger remove" type="button" title="Remove" data-action="remove" data-id-removal="{{ post.id }}"><span class="glyphicon glyphicon-remove"></span></button>
	{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
