<ul class="ctrl-list">
  {% for image in images %}
  <li id="image{{ image.id }}" class="ctrl-item">
    <div class="ctrl-item-thumbnail">
      <img src="{{ image.filename | thumbnail('30x30', crop='fit', quality=75) }}"
	   class="img-responsive img-thumbnail"
	   title="{{ image.title | e }}" alt="{{ image.title | e }}">
    </div>
    
    <div class="ctrl-item-content">
      <div class="ctrl-item-date">{{ moment(image.timestamp).fromNow() }}</div>
      <strong>{{ image.filename }}</strong>
      by
      <span class="glyphicon glyphicon-user"></span>
      <a href="{{ url_for('main.user', username=image.owner.username) }}">
	{{ image.owner.username }}
      </a>
      <div class="ctrl-item-body">
	<p>
	  <strong>Filename:</strong> {{ image.filename }}<br>
	  {% if image.title %}
	  <strong>Title:</strong> {{ image.title | e }}<br>
	  {% endif %}
	  <strong>Absolute Path:</strong><br>
	  {% set path = url_for('static', filename='uploads/', _external=True) + image.filename %}
	  <textarea rows="1" cols="{{ path | length }}" class="copy-path">{{ path }}</textarea>
	</p>

	{#<a class="btn btn-xs btn-default" href="{{ url_for('.view_upload', filename=image.filename) }}" title="View Image"><span class="glyphicon glyphicon-eye-open"></span></a>#}
	<a class="btn btn-xs btn-default" href="{{ path }}" target="_blank" title="View Image"><span class="glyphicon glyphicon-eye-open"></span></a>
	{% if current_user.can(Permission.UPLOAD) %}
	<button class="btn btn-xs btn-danger remove" type="button" title="Remove" data-action="remove" data-filename-removal="{{ image.filename }}"><span class="glyphicon glyphicon-remove"></span></button>
	{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
