<div class="comment-control">
	<input name="checkbox_select_all" id="select_all" type="checkbox" value=""></span>
	<button class="btn btn-default btn-sm on-check" data-action="suspend"><span class="glyphicon glyphicon-off" aria-label="Suspend" title="Suspend selected users"></span></button>
        <button class="btn btn-danger btn-sm on-check" data-action="remove"><span class="glyphicon glyphicon-trash" aria-label="Remove" title="Remove selected users"></span></button>

</div>

<ul class="comments">
    {% for user in users %}
    <li id="user{{ user.id }}" class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('main.user', username=user.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=40) }}">
            </a>
        </div>

	{% if current_user != user %}
	<div class="comment-checkbox">
	    <input name="checkbox{{ user.id }}" id="checkbox{{ user.id }}" class="comment-select" type="checkbox" value="{{ user.id }}">
	</div>
	{% endif %}
	
        <div class="comment-content">
            <div class="comment-date">{{ moment(user.member_since).fromNow() }}</div>
            <div class="comment-author">
	      <a href="{{ url_for('.user', username=user.username) }}">
		{{ user.username }}
	      </a> {% if user.name %}({{ user.name}}){% endif %}
	      {% if not user.confirmed %} <span class="label label-danger">not confirmed</span>{% endif %}
	    </div>
	    
            <div class="comment-body">
	      <p>
		Role: {{ user.role.name }}
		[<code title="a: administer, s: structure, m: moderate, u: upload, c: comment, w: write, f: follow, r: read">{{ user.role.permissions | permissions2str }}</code>] <br>
		Blog posts: <a href="{{ url_for('main.user', username=user.username, _anchor='posts') }}">{{ user.posts.count() }}</a> |
		Categories created: {{ user.categories.count() }} |
		Uploaded files: {{ user.images.count() }} |
		Comments written: <a href="{{ url_for('main.comments', username=user.username) }}">{{ user.comments.count() }}</a> |
		Replies received: <a href="{{ url_for('main.replies', username=user.username) }}">{{ user.replies.count() }}</a>
	      </p>

              {% if user.role.name != 'Suspended' and current_user != user %}
	      <button class="btn btn-default btn-xs remove" type="button" title="Suspend user" data-action="suspend" data-id-removal="{{ user.id }}"><span class="glyphicon glyphicon-off" aria-label="Suspend"></span></button>
	      <button class="btn btn-danger btn-xs remove" type="button" title="Remove user with all posts and comments" data-action="remove" data-id-removal="{{ user.id }}"><span class="glyphicon glyphicon-trash" aria-label="Remove"></span></button>
	      {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
