{% extends "bootstrap/base.html" %}

{% block title %}Control Panel - Pili{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput-typeahead.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Pili</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    {% if current_user.can(Permission.WRITE) %}
            <li {% if page == 'posts' %}class="active"{% endif %}><a href="{{ url_for('ctrl.posts') }}">Posts</a></li>
	    {% endif %}	    

	    {% if current_user.can(Permission.MODERATE) %}
	    <li {% if page == 'categories' %}class="active"{% endif %}><a href="{{ url_for('ctrl.categories') }}">Categories</a></li>
	    <li {% if page == 'structure' %}class="active"{% endif %}><a href="">Structure</a></li>
	    {% endif %}
	    
	    {% if current_user.can(Permission.UPLOAD) %}	    
	    <li {% if page == 'uploads' %}class="active"{% endif %}><a href="{{ url_for('ctrl.uploads') }}">Uploads</a></li>
	    {% endif %}

	      
	    {% if current_user.can(Permission.ADMINISTER) %}
	    <li><a href="{{ url_for('ctrl.logs') }}">Logs</a></li>
	    <li><a href="">Users</a></li>
	    {% endif %}

	    {# DEBUG #}
	    <li {% if page == 'test' %}class="active"{% endif %}><a href="{{ url_for('ctrl.test') }}"><span class="glyphicon glyphicon-flag"></span> Test</a></li>
	      
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
		      {% if current_user.is_authenticated %}
                      <li><a href="{{ url_for('auth.user', username=current_user.username) }}">Profile</a></li>
		      {% endif %}
                      <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                      <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
