{% extends "main/base.html" %}

{% block title %}Control Panel{{ super() }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block navbar_left_items %}
{% if current_user.can(Permission.WRITE) %}
<li {% if page == 'posts' %}class="active"{% endif %}><a href="{{ url_for('ctrl.posts') }}">Posts</a></li>
{% endif %}

{% if current_user.can(Permission.STRUCTURE) %}
<li {% if page == 'categories' %}class="active"{% endif %}><a href="{{ url_for('ctrl.categories') }}">Categories</a></li>
{% endif %}

{% if current_user.can(Permission.MODERATE) %}
<li {% if page == 'comments' %}class="active"{% endif %}><a href="{{ url_for('ctrl.comments') }}">Comments</a></li>
{% endif %}

{% if current_user.can(Permission.UPLOAD) %}	    
<li {% if page == 'uploads' %}class="active"{% endif %}><a href="{{ url_for('ctrl.uploads') }}">Uploads</a></li>
{% endif %}

{% if current_user.can(Permission.ADMINISTER) %}
<li {% if page == 'users' %}class="active"{% endif %}><a href="{{ url_for('ctrl.users') }}">Users</a></li>
<li {% if page == 'invite' %}class="active"{% endif %}><a href="{{ url_for('auth.invite_request') }}">Invites</a></li>
{% endif %}
{% endblock %}

{% block content %}{{ super() }}{% endblock %}

{% block page_content %}{{ super() }}{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
{% endblock %}
