{% set page = 'categories' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Categories - MMSE{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Create Category</h1>
</div>
<div>
  {% if current_user.can(Permission.EDIT_STRUCTURE) %}
  {# {{ wtf.quick_form(form) }} #}
  <form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.alias) }}
    {{ wtf.form_field(form.body) }}

    <div class="form-group" id="uploads-control">
      {{ form.image.label(class="control-label") }}
      {{ form.image(class="form-control typeahead") }}
    </div>
    
    <div class="form-group">
      {{ form.featured.label(class="control-label") }}
      {{ form.featured(class="") }}
    </div>

    <div class="form-group">
      <div class="container">
	<div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
	      <div class='input-group date' id='datetimepicker1'>
		{{ form.timestamp(class="form-control") }}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
	      </div>
            </div>
          </div>
	</div>
      </div>
    </div>
    
    <div class="form-group">
      {{ wtf.form_field(form.submit) }}
    </div>
  </form>
  {% endif %}
</div>
<div>
  {% include 'ctrl/_categories.html' %}
</div>
{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.categories') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script>
  var uploads = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: "..{{ url_for('api.get_uploads_list2') }}"
  });

  $('#uploads-control .typeahead').typeahead({
    hint: true,
    highlight: true,
  },
  {
    name: 'uploads',
    limit: 10,
    source: uploads
  });
</script>

<script>
 $(function () {
     $('#datetimepicker1').datetimepicker({
	 locale: moment.locale(),
	 sideBySide: true,
	 format: 'DD/MM/YYYY HH:mm:ss',
	 defaultDate: "{{ datetimepicker }}"
     });
 });
</script>
{% endblock %}
