{% set page = 'categories' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Categories - {{ super() }}{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Create Category</h1>
</div>
<div>
  {% if current_user.can(Permission.STRUCTURE) %}
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.alias) }}
    {{ wtf.form_field(form.body) }}

    <div class="form-group" id="uploads-control">
      {{ form.image.label(class="control-label") }}
      {{ form.image(class="form-control typeahead") }}
    </div>
    
    <div class="form-group">
      {{ form.featured.label(class="control-label") }}
      {{ form.featured(class="") }}
    </div>

    <div class="form-group">
      <div class="container">
	<div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
	      <div class='input-group date' id='datetimepicker1'>
		{{ form.timestamp(class="form-control") }}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
	      </div>
            </div>
          </div>
	</div>
      </div>
    </div>
    
    <div class="form-group">
      {{ wtf.form_field(form.submit) }}
    </div>
  </form>
  {% endif %}
</div>
<div>
  {% include 'ctrl/_categories.html' %}
</div>
{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.categories') }}
</div>
{% endif %}

{# {{ wtf.quick_form(remove_form) }} #}
<form method="post" id="removal">
    {{ remove_form.csrf_token(id="csrf-removal") }}
    {{ remove_form.id }}
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script>
 $('.remove').click( function() {
     var data = {
	 csrf: $('#csrf-removal').val(),
	 id: $(this).data('id-removal')
     };
     
     $.ajaxSetup({
	 beforeSend: function(xhr, settings) {
             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
		 xhr.setRequestHeader("X-CSRFToken", data['csrf'])
             }
	 }
     });
     
     var remove = confirm('Are you sure?');
     if (remove == true) {
	 $.when( $.ajax({
             url: "{{ url_for('ctrl.remove_category', _external=True) }}",
             type: 'post',
             dataType: 'json',
             contentType: 'application/json;charset=UTF-8',
	     accepts: {
		 json: 'application/json',
             },
             //data: JSON.stringify(data, null, '\t'),
	     data: JSON.stringify(data),
	     success: function(response) {
		 // message to user
		 var flash = "<div class='alert alert-" + response['status'] + "'>" +
	     		     "<button type='button' class='close' data-dismiss='alert'>&times;</button>" +
	     		     response['message'] + "</div>";
		 // save message to localStorage
		 window.onbeforeunload = function() {
		     localStorage.setItem('message', flash);
		 }
	     },
             error: function(jqXHR, textStatus, errorThrown) {
		 console.log('Error code: ' + jqXHR.status);
		 console.log('Error status: ' + textStatus);
		 console.log('Error thrown: ' + errorThrown);
             }
	 }).done(function(){
	     location.reload();           // reload the page
	     $('html,body').scrollTop(0); // jump on top
	 }));
     }
 });
</script>

<script>
 $( document ).ready(function() {
     var message = localStorage.getItem('message');
     if (message !== null) {
	 $('.page-header').before(message);
     }
     localStorage.removeItem('message');
 });
</script>

<script>
  var uploads = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: "..{{ url_for('api.get_uploads_list2') }}"
  });

  $('#uploads-control .typeahead').typeahead({
    hint: true,
    highlight: true,
  },
  {
    name: 'uploads',
    limit: 10,
    source: uploads
  });
</script>

<script>
 $(function () {
     $('#datetimepicker1').datetimepicker({
	 locale: moment.locale(),
	 sideBySide: true,
	 format: 'YYYY-MM-DD HH:mm:ss',
	 defaultDate: "{{ datetimepicker }}"
     });
 });
</script>
{% endblock %}
