<html>
  <head>
    <title>Test</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.css"> 


  </head>

  <body>

  

    
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
	<!--
        <script type="text/javascript">
          $(function () {
          $('#datetimepicker1').datetimepicker({ locale: 'en' });
          });
        </script>
	-->
      </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
      $(function () {
      $('#datetimepicker1').datetimepicker({ locale: 'en' });
      });
    </script>
  </body>
</html>
