{% set page = 'notify' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "ctrl/_macros.html" as macros %}

{% block title %}Send a Message to users {{ super() }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Send Message</h1>
</div>

<div>
  {{ wtf.quick_form(form) }}
</div>

<div class="page-header">
    <h1>List of Messages</h1>
</div>

<div>
  {% include 'ctrl/_messages.html' %}
</div>
  
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctrl.notify') }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
