{% set page = 'uploads' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}File Uploads - Pili{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Upload Image</h1>
</div>

<div>
  {% if current_user.can(Permission.UPLOAD) %}
  <form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="form-group {% if form.image.errors %}has-error{% endif %}">
      {{ form.image.label(class="control-label") }}
      {{ form.image(class="") }}
      {% if form.image.errors %}
      <span class="help-block">
	{% for error in form.image.errors %}
	{{ error }}
	{% endfor %}
      </span>{% endif %}
    </div>

    {{ wtf.form_field(form.title) }}
    
    <div class="form-group">
      {{ wtf.form_field(form.submit) }}
    </div>
  </form>
  {% endif %}
</div>

<h2>List of Uploaded Images</h2>

<div>
  {% include 'ctrl/_uploads.html' %}
</div>

{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.uploads') }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
