{% set page = 'users' %}
{% extends "ctrl/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "ctrl/_macros.html" as macros %}
{% block title %}User Moderation - {{ super() }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>User Moderation</h1>
</div>

{% include 'ctrl/_users.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'ctrl.users') }}
</div>
{% endif %}

<form method="post" id="removal">
    {{ csrf_form.csrf_token(id="csrf-removal") }}
    {{ csrf_form.id }}
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
 // event handler for select all checkbox
 $('#select_all').change(function() {
     var select_all = $( this );
     if ( select_all.prop('checked') ) {
	 $('.ctrl-item-select').prop('checked', $(this).prop('checked'));
     }
     else if ( select_all.not(':checked') ) {
	 $('.ctrl-item-select').removeAttr('checked');
     }
 })//.change();
</script>

<script>
 // even handlers for check/uncheck of any checkbox is certain class
 $('input').change(function() {
     if ( $( this ).prop('checked') ) {
	 //alert('Comment ' + $( this ).attr('id') + ' checked!');
     }
     else if ( $( this ).not(':checked') ) {
	 //alert('Comment ' + $( this ).attr('id') + ' unchecked!');
     }
 })//.change();
</script>

<script>
 // at least one checkbox is checked
 $('input').change(function() {
     if ( $(':checked').length > 0 ) {
	 $( '.on-check' ).show();
     }
     else {
	 $( '.on-check' ).hide();
     }
 })
</script>

<script>
 // POST request
 $('.on-check, .remove').click(function() {
     var button = $( this );
     var users = [];
     
     if (button.hasClass('remove')) {
	 users[0] = button.data('id-removal');
     }
     else {
	 $('.ctrl-item-select:checked').each(function(i){
             users[i] = $(this).val();
	 });
     }
     
     var data = {
	 csrf: $('#csrf-removal').val(),
	 users: users,
	 action: button.data('action')
     };

     $.ajaxSetup({
	 beforeSend: function(xhr, settings) {
             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
		 xhr.setRequestHeader("X-CSRFToken", data['csrf'])
             }
	 }
     });
     
     var remove = confirm('Are you sure?');
     if (remove == true) {
	 $.when( $.ajax({
             url: "{{ url_for('ctrl.users_bulk', _external=True) }}",
             type: 'post',
             dataType: 'json',
             contentType: 'application/json;charset=UTF-8',
	     accepts: {
		 json: 'application/json',
             },
	     data: JSON.stringify(data),
	     success: function(response) {
		 // message to user
		 var flash = "<div class='alert alert-" + response['status'] + "'>" +
	     		     "<button type='button' class='close' data-dismiss='alert'>&times;</button>" +
	     		     response['message'] + "</div>";
		 // save message to localStorage
		 window.onbeforeunload = function() {
		     localStorage.setItem('message', flash);
		 }
	     },
             error: function(jqXHR, textStatus, errorThrown) {
		 console.log('Error code: ' + jqXHR.status);
		 console.log('Error status: ' + textStatus);
		 console.log('Error thrown: ' + errorThrown);
             }
	 }).done(function(){
	     location.reload();           // reload the page
	     $('html,body').scrollTop(0); // jump on top
	 }));
     };
 })
</script>

<script>
 $( document ).ready(function() {
     var message = localStorage.getItem('message');
     if (message !== null) {
	 $('.page-header').before(message);
     }
     localStorage.removeItem('message');
 });
</script>

{% endblock %}
