# -*- mode: conf-unix -*-

[Unit]
Description=uWSGI instance to serve Pili App
After=network.target

[Service]
User=git
Group=nginx

WorkingDirectory=/var/www/pili
Environment="PATH=/var/www/pili/venv/bin"
EnvironmentFile=/var/www/pili/conf/pili-uwsgi.conf
ExecStart=/var/www/pili/venv/bin/uwsgi --ini conf/pili-uwsgi.ini

[Install]
WantedBy=multi-user.target
