<ul class="comments">
  {% for comment in comments %}
  {% if moderate or not comment.screened %}
    <li id="comment{{ comment.id }}" class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author">
	      <a href="{{ url_for('.user', username=comment.author.username) }}">
		{{ comment.author.username }}
	      </a>
	    </div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if not comment.disabled %}
		  <span class="{% if comment.screened %}text-muted{% endif %}">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
		  </span>
                {% endif %}
            </div>

	    {% if not comment.disabled %}
 	      {% if reply %}
	      <a class="btn btn-primary btn-xs" 
		 href="{{ url_for('main.post', category=comment.post.category.alias, id=comment.post.id, alias=comment.post.alias, parent_id=comment.id, page=page) }}">
		Reply
	      </a>
	      {% endif %}
	    {% endif %}

            {% if moderate %}
              {% if comment.disabled %}
              <a class="btn btn-default btn-xs" href="{{ url_for('ctrl.comments_enable', id=comment.id, page=page) }}">Enable</a>
              {% else %}
              <a class="btn btn-danger btn-xs" href="{{ url_for('ctrl.comments_disable', id=comment.id, page=page) }}">Disable</a>
	      {% endif %}

              {% if comment.screened %}
              <a class="btn btn-default btn-xs" href="{{ url_for('ctrl.comments_unscreen', id=comment.id, page=page) }}">Unscreen</a>
              {% else %}
              <a class="btn btn-danger btn-xs" href="{{ url_for('ctrl.comments_screen', id=comment.id, page=page) }}">Screen</a>
	      {% endif %}
	      
	    {% endif %}

        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
