{% if recipient %}
<div class="comment-control">
	<input name="checkbox_select_all" id="select_all" type="checkbox" value=""></span>
	<button class="btn btn-default btn-sm on-check" data-action="read">Mark as read</button>
        <button class="btn btn-default btn-sm on-check" data-action="unread">Mark as not read</span></button>
</div>
{% endif %}

<ul class="ctrl-list">
  {% for comment in comments %}
  {% if moderate or not comment.screened %}
    <li id="comment{{ comment.id }}" class="ctrl-item {% if not comment.read %}unread{% endif%}">
        <div class="ctrl-item-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>

	{% if recipient %}
	<div class="ctrl-item-checkbox">
	  <input name="checkbox{{ comment.id }}" id="checkbox{{ comment.id }}" class="ctrl-item-select" type="checkbox" value="{{ comment.id }}">
	</div>
	{% endif %}

	
        <div class="ctrl-item-content">
            <div class="ctrl-item-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="ctrl-item-author">
	      <a href="{{ url_for('.user', username=comment.author.username) }}">
		{{ comment.author.username }}
	      </a>
	      {% if expand %}
	      commented on the
	      <a href="{{ url_for('main.post', category=comment.post.category.alias, id=comment.post.id, alias=comment.post.alias) }}#comment{{ comment.id }}">
		{{ comment.post.title }}
	      </a>
	      {% if comment.post.category %}
	      under
	      <a href="{{ url_for('main.category', alias=comment.post.category.alias) }}">
		<span class="label label-success">{{ comment.post.category.title }}</span>
	      </a> category
	      {% endif %}
	      {% endif %}
	    </div>

            <div class="ctrl-item-body">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if not comment.disabled %}
		  <span class="{% if comment.screened %}text-muted{% endif %}">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
		  </span>
                {% endif %}
            </div>

	    {% if not comment.disabled %}
 	      {% if reply %}
	      <a class="btn btn-primary btn-xs" 
		 href="{{ url_for('main.post', category=comment.post.category.alias, id=comment.post.id, alias=comment.post.alias, parent_id=comment.id, page=page) }}">
		Reply
	      </a>
	      {% endif %}
	    {% endif %}

            {% if moderate %}
              {% if comment.disabled %}
              <a class="btn btn-default btn-xs" href="{{ url_for('ctrl.comments_enable', id=comment.id, page=page) }}">Enable</a>
              {% else %}
              <a class="btn btn-danger btn-xs" href="{{ url_for('ctrl.comments_disable', id=comment.id, page=page) }}">Disable</a>
	      {% endif %}

              {% if comment.screened %}
               <a class="btn btn-default btn-xs" href="{{ url_for('ctrl.comments_unscreen', id=comment.id, page=page) }}">Unscreen</a>
               {% else %}
               <a class="btn btn-danger btn-xs" href="{{ url_for('ctrl.comments_screen', id=comment.id, page=page) }}">Screen</a>
	       {% endif %}
	    {% endif %}

	       {% if recipient %}
 	          {% if comment.read %}
		   <a class="btn btn-danger btn-xs" href="{{ url_for('main.reply_mark_unread', id=comment.id, page=page) }}">Unread</a>
	         {% else %}
		   <a class="btn btn-default btn-xs" href="{{ url_for('main.reply_mark_read', id=comment.id, page=page) }}">Read</a>
	         {% endif %}
	       {% endif %}

        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
