<ul class="posts">
  {% for post in posts %}
  <li class="post">
    <div class="post-thumbnail">
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
      </a>
    </div>
    <div class="post-content">
      <div class="post-data">
	by
	<span class="glyphicon glyphicon-user"></span>
	<a href="{{ url_for('main.user', username=post.author.username) }}">
	  {{ post.author.username }}
	</a>
	{{ moment(post.timestamp).fromNow() }}

	{% if post.category %}
	under
	<a href="{{ url_for('main.category', id=post.category.id, alias=post.category.alias) }}">
	  <span class="label label-success">{{ post.category.title }}</span>
	</a> category
	{% endif %}
	
	{% if post.tags.count() %}
	with <span class="glyphicon glyphicon-tag"></span>
	{% for tag in post.tags %}
	<a href="{{ url_for('main.tag', alias=tag.alias) }}">
	  {{ tag.title }}
	{#  <span class="label label-info">{{ tag.title }}</span> #}
	</a>
	{% if not loop.last %},{% endif %}
	{% endfor %}
      {% endif %}

      </div>
      <div class="post-title">
	<a href="{{ url_for('main.post', id=post.id, alias=post.alias) }}">
	  <h4>{{ post.title }}</h4>
	</a>
      </div>
      <div class="post-author">
      </div>
      <div class="post-body">
        {% if post.body_html %}
        {{ post.body_html | safe }}
        {% else %}
        {{ post.body }}
        {% endif %}
      </div>
     
      <div class="post-footer">
        {% if current_user == post.author %}
        {# <a href="{{ url_for('.edit', id=post.id, alias=post.alias) }}">
          <span class="label label-primary">Edit</span>
        </a>
	#} 
        {% elif current_user.is_administrator() %}
        {# <a href="{{ url_for('.edit', id=post.id, alias=post.alias) }}">
          <span class="label label-danger">Edit [Admin]</span>
        </a>
	#}
        {% endif %}

	{% if post.commenting %}
        <a href="{{ url_for('main.post', id=post.id, alias=post.alias) }}#comments">
          <span class="label label-primary">{{ post.comments.count() }} Comments</span>
        </a>
	{% endif %}
	
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
