{% extends "bootstrap/base.html" %}

{% block title %}- Pili{% endblock %}

{% block head %}
{{ super() }}
  {% block api_constants %}
  <meta property="fb:app_id" content="{{ config['PILI_FB_API_ID'] }}">
  <meta property="og:site_name" content="{{ config['PILI_APP_SITE_NAME'] }}">
  <meta property="og:locale" content="{{ config['PILI_APP_LOCALE_DEFAULT'] }}">
  <meta property="og:url" content="{{ request.url }}">
  {% endblock %}
  {% block meta_opengraph %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ config['PILI_APP_TITLE'] }}">
  <meta property="og:description" content="{{ config['PILI_APP_DESCRIPTION'] }}">
  <meta property="og:author" content="{{ config['PILI_APP_AUTHOR'] }}">
  <meta property="og:image" content="{{ url_for('static', filename='uploads/pili.png', _external=True) }}">
  {% endblock %}
  {% block meta_html %}
  <meta name="author" content="{{ config['PILI_APP_AUTHOR'] }}">
  <meta name="description" content="{{ config['PILI_APP_DESCRIPTION'] }}">
  {% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput-typeahead.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Pili</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {% if page == 'home' %}class="active"{% endif %}><a href="{{ url_for('main.index') }}">Home</a></li>
	      {% block navbar_left_items %}
	        {% if current_user.can(Permission.WRITE) or current_user.can(Permission.MODERATE)%}
	        <li><a href="{{ url_for('ctrl.posts') }}">Control Panel</a></li>
		{% endif %}
	      {% endblock %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
		      {% if current_user.is_authenticated %}
                      <li ><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
		      <li><a href="{{ url_for('main.replies', username=current_user.username) }}">Replies <span class="badge">{{ current_user.replies.count() - current_user.replies.filter_by(read=True).count() }}</span></a></li>
		      <li><a href="{{ url_for('main.messages', username=current_user.username) }}">Notifications <span class="badge"></span></a></li>
                      {% endif %}
                      <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                      <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" id="content">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert {% if category %}alert-{{ category }}{% else %}alert-warning{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
