{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}{{ posts[0].title }}{{ super() }}{% endblock %}

{% set author = posts[0].author.name if posts[0].author.name else posts[0].author.username %}

{% block meta_opengraph %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ posts[0].title }}">
  <meta property="og:description" content="{{ posts[0].description }}">
  <meta property="og:author" content="{{ author }}">
  {% if posts[0].image %}
  {% set img_path = url_for('static', filename='uploads/', _external=True) + posts[0].image.filename %}
  <meta property="og:image" content="{{ img_path }}">
  {% endif %}
{% endblock %}
{% block meta_html %}
  <meta name="author" content="{{ author }}">
  <meta name="description" content="{{ posts[0].description }}">
{% endblock %}


{% block page_content %}
{% include 'main/_posts.html' %}

{% if posts[0].commenting %}
<h4 id="comments">Comments</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="ctrl-item-form">
  {{ wtf.quick_form(form) }}
</div>
{% endif %}

{% set reply = True %}
{% if current_user.can(Permission.MODERATE) %}
{% set moderate = True %}
{% endif %}

{% include 'main/_comments.html' %}

{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, 'main.post', fragment='#comments', category=posts[0].category.alias, id=posts[0].id, alias=posts[0].alias) }}
</div>
{% endif %}

{% endif %} {# commenting ebanbled? #}

{% endblock %}
