{% extends "main/base.html" %}
{% import "main/_macros.html" as macros %}

{% block title %}Posts under {{ tag.title }}{{ super() }}{% endblock %}

{% block page_content %}

<h3>Posts under tag {{ tag.title }}</h3>
<div class="post-tabs">
    <ul class="nav nav-tabs">
      <li{% if not show_followed %} class="active"{% endif %}>
	<a href="{{ url_for('main.show_all', page='tag', alias=tag.alias) }}">All</a>
      </li>
      {% if current_user.is_authenticated %}
      <li{% if show_followed %} class="active"{% endif %}>
	<a href="{{ url_for('main.show_followed', page='tag', alias=tag.alias) }}">Followers</a>
      </li>
      {% endif %}
    </ul>
    {% include 'main/_posts.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.tag', alias=tag.alias) }}
</div>
{% endif %}

{% endblock %}
